<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交用戶訊息</title>
<body>
    <div>
        <h1>提交用戶訊息:<h1>
            <form action="/do_add_user" method="POST">
        <table border="1">
        <tr>
            <th>ID</th>
            <td><input type="int" name="student_id"></td>
        </tr>
        <tr>
            <th>用戶名</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>主修</th>
            <td><input type="text" name="major"></td>
        </tr>
        <tr>
            <th>提交</th>
            <td><input type="submit" name="送出" value="提交"></td>
        </tr>
        </table>
    </form>
        </div>
   
    </body>
</head>  